<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive='active'>
        <a class="nav-link" [routerLink]="['/directivas']">Directivas</a>
      </li>
      <li class="nav-item" routerLinkActive='active'>
        <a class="nav-link" [routerLink]="['/clientes']">Clientes</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-rigth">
      <li *ngIf="!authService.isAuthenticated()">
        <a [routerLink]="['/login']" class="btn btn-outline-primary">Sign In</a>
      </li>
      <li *ngIf="authService.isAuthenticated()" ngbDropdown class="dropdown">
        <a ngbDropdownToggle class="btn btn-outline-primary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{authService.usuario.username}}
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <button (click)="logout()" class="dropdown-item" type="submit">Sign Out</button>
        </div>
      </li>
    </ul>
  </div>
</nav>