/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
html{
    position: relative;
    min-height: 100%;
}
body{
    margin-bottom: 60px;
    min-height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.wrap{
    padding-bottom: 60px;
}
