<detalle-cliente *ngIf="clienteSeleccionado" [cliente]='clienteSeleccionado'></detalle-cliente>
<div class="card border-primary mb-3">
    <div class="card-header">Clientes</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Listado de cliente</h5>
        <div class="my-2 text-left">
            <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-rounded btn-primary" type="button"
                [routerLink]="['/clientes/form']" routerLinkActive="router-link-active">Crear Cliente</button>
        </div>
        <div *ngIf="clientes?.length==0" class="alert alert-info">
            No hay registro en la base de datos
        </div>
        <table class="table table-bordered table-striped" *ngIf="clientes?.length>0">
            <thead>
                <tr>
                    <th>Perfil</th> <!-- *ngIf="authService.hasRole('ROLE_USER')" -->
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Fecha</th>
                    <th>Crear factura</th>
                    <th *ngIf="authService.hasRole('ROLE_ADMIN')">Editar</th>
                    <th *ngIf="authService.hasRole('ROLE_ADMIN')">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <td>
                        <!-- *ngIf="authService.hasRole('ROLE_USER')" -->
                        <img (click)="abrirModal(cliente)" *ngIf="cliente?.foto"
                            src="http://localhost:8080/api/uploads/img/{{cliente.foto}}" alt="{{cliente.foto}}"
                            class="img-thumbnail rounded" style="width: 64px; cursor: pointer;">
                        <img (click)="abrirModal(cliente)" *ngIf="!cliente?.foto"
                            src="http://localhost:8080/images/no-usuario.png" alt="Sin foto"
                            class="img-thumbnail rounded" style="width: 64px; cursor: pointer;">
                    </td>
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.apellido | uppercase}}</td>
                    <td>{{cliente.email}}</td>
                    <td>{{cliente.createAt | date:"EEEE dd, MMMM yyyy"}}</td>
                    <td><button type="button" class="btn btn-success"
                            [routerLink]="['/facturas/form',cliente.id]">Crear factura</button></td>
                    <td *ngIf="authService.hasRole('ROLE_ADMIN')">
                        <button type="button" name="button" [routerLink]="['/clientes/form',cliente.id]"
                            class="btn btn-primary">Editar</button>
                    </td>
                    <td *ngIf="authService.hasRole('ROLE_ADMIN')">
                        <button type="button" name="eliminar" (click)='delete(cliente)'
                            class="btn btn-danger">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <paginator-nav *ngIf="paginador" [paginador]="paginador"></paginator-nav>
    </div>
</div>